body{
    font-family: 'Work Sans', sans-serif;
}
/* header  */
#header{
    padding: 2% 15%;
    background-color: #ff4872;
}
.title{
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.title:hover{
    color: #1b2021;
}
.nav-item{
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
}
.navbar-brand{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #1b2021;
}
.navbar-toggler{
    border: #fff solid;
}
.navbar-toggler-icon{
    border-radius: 100%;
    font-size: small;
    border: #fff solid;
    text-align: center;
}

/* contact  */
#contact-us{
    padding: 3% 15%;
    font-size: large;
}

/* footer  */
#footer-container{
    background-color: #ff4872;
    padding:4% 10%;
    color: #fff;
}
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: large;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right:4rem; 
}
.footer-heading h2{
    margin-bottom: 2rem;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom:0.5rem;
}
.footer-heading a:hover{
    color:#000;
    transition: 0.3s ease-out;
}
.footer-email-form h2{
    margin-bottom: 2rem;
}
#footer-email{
    width: 100%;
    height: 40px;
    border-radius:4px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.frm{
  text-align: center;
}
.footer-email-btn{
    height:40px;
    border-radius:4px;
    outline: none;
    border: none;
    font-size: 1rem;
}
#footer-email-btn:hover{
    cursor:pointer;
    transition: all 0.4s ease-out;
}